
body{
	margin:0 auto;
	position: relative;
}
.container{
	width:650px;
	height:500px;
	border:1px solid black;
	margin:50px auto;
	border-radius: 10px;
}


.container:after {
	content:"";
	clear:both;
}

.card{
	width:100px;
	height:100px;
	border:1px solid black;
	float:left;
	margin-left:20px;
	margin-top:30px;
	background-size: cover;
	border-radius: 10px;
	background-position: center;
}

.hint{
	padding-top:10px;
}


.timer{
	width:70px;
	height:50px;
	border:1px solid black;
	text-align: center;
	padding-top: 10px;
	font-size:40px;
	color:green;
	font-weight: 800;
	margin:50px auto 0;
}


.start{
	font-size:30px;
	position:absolute;
	top:88%;
	left:47%;
}

.hide{
	border-radius: 1px solid green;
}


.orders{
	position:absolute;
	top:20%;
	left:80%;
}

li:first-child{
	font-size:20px;
}

li:nth-child(-n+2){
	list-style-type: none;
	margin:5px 0;
}

li:nth-child(2){
	font-size:24px;
	font-family: 'helvetica';
	color:brown;
	letter-spacing: 3px;
}

li:nth-child(n+3){
	color:green;
	font-style:italic;
	font-size:20px;
	margin-top:10px;
}



.card:last-child{
	position:relative;
}

.card:last-child span{
	position:absolute;
	top:30%;
	left:10%;
	cursor: pointer;
}

.points_container{
	position:absolute;
	top:20%;
	left:5%;
}

.next{
	font-size:25px;
	position: absolute;
	top:5%;
	left:80%;
	display: none;
}











