
@media(max-width:1440px){
body{
	margin:0 auto;
	position: relative;
	background-color: black;
	font-family: 'helvetica';
}
.container{
	width:650px;
	height:500px;
	border:1px solid black;
	margin:40px auto;
	border-radius: 10px;
}


.container:after {
	content:"";
	clear:both;
}

.card{
	width:100px;
	height:100px;
	border:1px solid black;
	float:left;
	margin-left:20px;
	margin-top:30px;
	background-size: cover;
	border-radius: 10px;
	background-position: center;
	background-color: white;
	cursor: pointer;
}

.hint{
	padding-top:10px;
}


.timer{
	width:70px;
	height:50px;
	border:1px solid black;
	text-align: center;
	padding-top: 10px;
	font-size:40px;
	color:#32d191;
	font-weight: 800;
	margin-left:300px;
	background-color: #0f3c59;
	border-radius: 10px;
	display: inline-block;
}


.start{
	font-size:30px;
	position:absolute;
	top:88%;
	left:47%;
}

.play_again{
	font-size:24px;
	margin-top:10px;
	margin-left:110px;
	background-color: brown;
	color:white;
}

.hide{
	border-radius: 1px solid green;
}


.orders{
	position:absolute;
	top:20%;
	left:80%;
}

li:first-child{
	font-size:20px;
}

li:nth-child(-n+2){
	list-style-type: none;
	margin:5px 0;
}

li:nth-child(2){
	font-size:24px;
	font-family: 'helvetica';
	color:brown;
	letter-spacing: 3px;
}

li:nth-child(n+3){
	color:green;
	font-style:italic;
	font-size:20px;
	margin-top:10px;
}



#anim{
	background: white;
	background-image: url("https://static.skillshare.com/uploads/project/07cfa76abe704c22dfec080709540933/f1b75a67");
	background-position: center;
	background-size: cover;
}



.points_container{
	position:absolute;
	top:26%;
	left:5%;
}

.next{
	font-size:25px;
	position: absolute;
	top:5%;
	left:80%;
	display: none;
}

progress{
	background-color:white;
	width:200px;
}



.points_board li:nth-child(5){
	list-style-type: none;
}

.points_board li, .orders li{
	font-size: 25px;
}

.cook{
	width:100px; 
	height:auto; 
	position:absolute; 
	top:5%;
	left:52%;
	color:red;
}


button{
	border:none;
	border-radius: 5px;
}


button:hover{
	background-color: salmon;
}


h1{
	color:white;
	display: inline-block;
	margin:5px 50px;
}

.utensils{
	width:100px;
	height:auto;
	padding-top:20px;
}


.game_over{
	width:350px;
	height:200px;
	background-color:lightgrey;
	position:absolute;
	z-index:100;
	top:45%;
	left:37%;
	border:1px solid black;
	text-align: center;
	display: none;
}

.game_over h1{
	margin-top:50px;
	color:black;

}

.orders li:first-child{
		color:lightgrey;
	}
}

@media(max-width:900px){
	body{
		margin:0 auto;
	}
	.utensils{
		width:70px;
		height:auto;
	}

	h1{
		margin:0 20px;
	}

	.timer{
		margin-left:150px;
		margin-right:100px;
	}

	.cook{
		top:3%;
		left:55%;
	}

	.container{
		padding-left:100px;
	}

	.card{
		width:90px;
	}

	.points_container{
		left:0;
	}
	.orders{
		top:15%;
	}

	.points_board li{
		font-size:16px;
	}
	progress{
		width:150px;
	}

	.orders{
		margin-left:13px;
	}

	.game_over{
		top:35%;
		left:32%;
	}
}

@media(max-width:375px){
	h1{
		font-size:16px;
	}

	.utensils{
		width:30px;
		height:auto;
	}
	.cook{
		left:75%;
		top:3%;
		width:70px;
		height: auto;
	}
	.timer{
		margin-left:50px;
		margin-right:0;
		margin-top:4%;
	}

	.start{
		left:55%;
		top:90%;
		background: lightblue;
		color:black;
	}
	.container{
		width:280px;
		height:500px;
	}
	.points_container{
		left:-9%;
	}
	.points_board li:first-child{
		color:lightgrey;
	}
	.points_board li:last-child{
		display: none;
	}
	.card{
		width:70px;
		height:70px;
		margin-left:10px;
		margin-top:10px;
	}

	.orders{
		position:absolute;
		top:40%;
		left:-9%;
	}

	.orders li{
		font-size: 16px;
	}

	.game_over{
		width:300px;
		left:12%;
	}
	.next{
		background: lightgreen;
		top:15%;
		left:55%;
		color:black;
	}
}













